---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Haroens terms</title>
  {% capture style %}{% include style.scss %}{% endcapture %}
  <meta name=viewport content="width=device-width, initial-scale=1">
  <style>{{style | scssify}}</style>
</head>
<body>
<header>
  <div>
    <h1><a href="{{site.url}}{{site.baseurl}}">Terms</a></h1>
    <p><a href="https://haroen.me/">Haroen</a>'s linked data terms</p>
  </div>
  <a href="{{site.baseurl}}/" class="back">{% if page.url != '/' %}＜{% else%} {% endif %}</a>
</header>
<main>{{content}}</main>
</body>
</html>
